header.main-header
  .wrapper
    .header__inner
      a.logo(href="#")
        img.logo-img(src="./img/svg/anvil.svg" alt="logo")
      nav.page-nav
        .page-nav-large
          ul
            li.page-nav__item
              a(href="#") Ссылка-1
            li.page-nav__item
              a(href="#") Ссылка-2
            li.page-nav__item
              a(href="#") Ссылка-3
            li.page-nav__item
              a(href="#") Ссылка-4
            li.page-nav__item
              a(href="#") Ссылка-5
        .page-nav__toggle
        .page-nav-small
          ul
            li.page-nav__item
              a(href="#") Ссылка-1
            li.page-nav__item
              a(href="#") Ссылка-2
            li.page-nav__item
              a(href="#") Ссылка-3
            li.page-nav__item
              a(href="#") Ссылка-4
            li.page-nav__item
              a(href="#") Ссылка-5
          